.footer_back{
  border-radius: 8% 8% 0% 0%;
  background-color: var(--footer);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.2rem;
  --height: 18vh;
  padding: 25px;
  row-gap: 17px;
  justify-content:space-between;
  margin-top: 30px;
}

.footer_back p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--base-color-night);
}

.redes{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}

.contact{
  color: var(--base-color-night);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}


@media(width <= 623px){

    .footer_back{
      border-radius: 8% 8% 0% 0%;
      background-color: var(--footer);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      font-size: 1.2rem;
      --height: 18vh;
      padding: 25px;
      row-gap: 17px;
      justify-content: center;
      margin-top: 30px;
      align-content: center;
      align-items: center;
    }
}

@media(width <= 630px){
  .footer_back{
    justify-content: center;
    align-items: center;
  }
}
