<div #minNav class="minNav" >
    <button
    (click)="navBarSelect()"
    type="button" >
      <SVG-Menu/>
    </button>
</div>
<nav
  #nav
  class="navbar">
  <button
  type="button"
  class="menuBargur"
  (click)="ocultoBarSelect()">
    <SVG-Menu/>
  </button>
  <section class="nav-bar">
    <section>
    <ul>
      <li class="select_item"><a href="#sobremi">Sobre Mi</a></li>
      <li class="select_item"><a href="#proyects">Proyectos</a></li>
      <li class="select_item"><a  href="#herramientas">Herramientas</a></li>
      <!----
        <li class="select_item"><a >Experiencia</a></li>
        <li class="select_item"><a >Contactame</a></li>
      ---->
    </ul>
    </section>
    <section class="ButtomOnOff">
      <div
      [@buttomSelect]="lightNight ? 'ButtomNight' : 'ButtomLight'"
      id="animacion"
      class="animacionButtom">
      </div>
    <button
      type="button"
      (click)="bttPagesNight()"
      class="ButtomNotSelect">
      <SVG-Luna />
    </button>
    <button
    type="buttom"
    (click)="bttPagesSon()"
    type="button"
    class="ButtomNotSelect">
      <SVG-SolSimple />
    </button>
    </section>
    <!-----
    <section>
    <ul>
      <li>Esp/Ing</li>
    </ul>
    </section>
  ---->
  </section>
</nav>
