:where(.cajaPrincipal){
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  overflow: clip;
  --background-color: var(--base-color);
  --color: var(--base-Color-white);
}

:where(#startElement){
  height: 100vh;
  width: 100%;
  --background-color: beige;
  overflow: clip;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.cajaPrincalSon{
  --background-color: var(--base-Color-white);
  --color: var(--base-color-night);
}

