:where(.cajaPrincipal){
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  --background-color: var(--base-color);
  --color: var(--base-Color-white);
}

.cajaPrincalSon{
  --background-color: var(--base-Color-white);
  --color: var(--base-color-night);
}

.gir_one{
  height: 10rem;
  width: 12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  animation: animationCircle linear infinite 30s;
}

:where(.circle_ani){
  position: absolute;
  background-color: transparent;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  outline: dashed var(--circle);
  animation: animationCircle linear infinite 20s;
  z-index: -1;
}

.circle_ani_black{
  outline-color: var(--base-color-night);
}

.gir_two{
  height: 19rem;
  width: 19rem;
  position: absolute;
}

:where(.circle_anitwo){
  position: absolute;
  width: 14.3rem;
  height: 14.0rem;
}

.itemCircles{
  transform: rotate(0deg);
  animation: animationItems linear infinite 30s;
}

.delaysCirclesBig{
  animation: animationItems linear infinite 15s;
}


@keyframes animationCircle{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes animationItems{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}


@media(width <= 623px){
  /*error
    no error 623px

     - 622
     - 551

     no error 550px
  */



}

@media(width <= 550px){

  .circle_ani{
    height:6rem;
    width:6rem;
  }

  .circle_anitwo{
    width: 10rem;
    height: 10rem;
  }

  .gir_one{
    height:7rem;
    width:7rem;
  }

  .gir_two{
    height:13rem;
    width:14rem;
  }

  }
