<section id="sobremi" class="section_me">
  <h1>Sobre Mi</h1>
  <div class="tarject">
    <div class="narra_img">
      <img src="img/me_os.jpg" title="yo" height="100" width="100">
      <p>
        Hola soy Oscar Navarro soy programado JR tanto del backend y del Fronend
        no tengo experiencia laboral tengo proyectos de practica que podrian interesarte
        no me inclino a ninguna tecnologia en particular.
      </p>
    </div>
  </div>
  <a href="HojaDeVida/Oscar_Gonzalez_CV_2025.pdf" download>
      <button type="button" class="butme">Hoja de Vida</button>
  </a>
</section>
