.section_me{
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  --background-color: #0C0C1D;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px;
  color: var(--text);
  row-gap: 25px;
}


.tarject{
  padding: 10px;
}

.tarject img{
  height: 299px;
  width: 288px;
  border-radius: 10px;
}

.narra_img{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 57px;
  font-size: 1.3rem;
}


.butme{
  box-sizing: border-box;
  background-color:var(--base-color-night) ;
  position: relative;
  border-radius: 10px;
  border: 3.9px solid;
  border-color:
  var(--color_morado) /*arriba*/
  var(--color_morado)/*derecha*/
  var(--color_rojo)/*izquierda*/
  var(--color_rojo);/*abajo*/
  color: white;
  height: 63px;
  width: 190px;
  margin-top: 27px;
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: color_border ease 30s infinite;
  cursor: pointer;
}

.butme::after{
    background-image: linear-gradient(
      180deg,
        var(--color_morado), /*arriba*/
        var(--color_morado),/*derecha*/
        var(--color_rojo),/*izquierda*/
        var(--color_rojo)/*abajo*/
    );
    background-clip: padding-box;
    z-index: -1;
    margin-top: -46px;
    margin-left: -183px;
    content: "";
    position: absolute;
    height: 126px;
    width: 216px;
    filter: blur(30px);
    border-radius: 40px;
    animation: color_wheel ease 30s infinite;
}

@keyframes color_border{
  0%{
      border-color: white;
  }
  15%{
      border-color:
      var(--color_morado)
      var(--color_morado)
      var(--color_rojo)
      var(--color_rojo);
  }
  35%{
      border-color: white;
  }
  50%{
      border-color:
      var(--color_morado)
      var(--color_rojo)
      var(--color_rojo)
      var(--color_rojo);
  }
  80%{
    border-color: white;
  }
  90%{
        border-color:
      var(--color_rojo)
      var(--color_rojo)
      var(--color_rojo)
      var(--color_rojo);
  }
  100%{
    border-color: white;
  }
}

@keyframes color_wheel {
  0%{
      opacity: 0;
  }
  15%{
      opacity: 0.5;
      background-image: linear-gradient(
      0deg, var(--color_morado),var(--color_rojo)
      );
  }
  35%{
      opacity: 0;
  }
  50%{
    opacity: 0.5;
      background-image: linear-gradient(
        0deg, var(--color_morado),var(--color_rojo),var(--color_rojo)
      );
  }
  80%{
    opacity:0;
  }
  90%{
    opacity:0.5;
    background-image: linear-gradient(
      0deg, var(--color_rojo),var(--color_rojo)
    );
  }
  100%{
    opacity: 0;
  }
}

@media(width <= 666px){
  .section_me{
    height: auto;
  }

  .narra_img{
    flex-direction: column;
    row-gap: 40px;
  }
}
