<section class="section_me">
  <h1>Sobre Mi</h1>
  <div class="tarject">
    <div class="narra_img">
      <img src="img/me_os.jpg" title="yo" height="100" width="100">
      <p>Hola, soy Oscar... Me gusta la tecnología y la historia de Warhammer 40k,
        pero tú no viniste por saber lo que me gusta, ¿verdad? Bien, por ahora estas
        son las herramientas que estoy estudiando y especializando me, se mostrarán a
        continuación... Te dejo mi hoja de vida si quieres saber más de mí. Gracias por
        visitar.
      </p>
    </div>
  </div>
  <a href="HojaDeVida/hojadevida.pdf" download>
      <button type="button" class="butme">Hoja de Vida !!!!</button>
  </a>
</section>
