<section id="sobremi" class="section_me animationiewcroll">
  <h1>Sobre Mi</h1>
  <div class="tarject">
    <div class="narra_img">
      <img src="img/me_os.jpg" title="yo" height="100" width="100">
      <p>
        Hola, soy Víctor. Soy programador junior tanto de backend como de frontend. Me gusta programar porque me encanta hacerlo.
      </p>
    </div>
  </div>
  <a href="HojaDeVida/Oscar_Gonzalez_CV_2025.pdf" download>
      <button type="button" class="butme">Hoja de Vida</button>
  </a>
</section>
