<section id="proyects" class="PCards">
<a href="https://github.com/oscar2q/AngularTiendaPractices" title="Projecto">
  <header>
    <h1>Proyectos</h1>
  </header>
  <div class="proyectsCards">
    <img
    title="Proyecto_one"
    src="img/imgTienda.webp"
    height="195"
    width="380">
    <section class="herramientasUso">
      <SVG-angular/>
      <SVG-PosgreSql/>
      <SVG-Nestjs/>
    </section>
    <p>
      Proyecto de venta de ropa con inicio de sesión,
      lista de favoritos y descuentos automáticos según
      el mes o con código promocional.
    </p>
  </div>
</a>

</section>

