a{
  text-align: center;
  color: var(--text);
  text-decoration: none;
}

.description{
  font-size: 1.2rem;
}

.PCards {
  overflow: clip;
  box-sizing: border-box;
  /* height: 70vh; */
  margin-top: 50px;
  width: 100%;
  --background-color:var(--base-color-night);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 20px;
  padding: 15px;
  overflow: clip;

  color:var(--text);
  justify-content: center;
  align-items: center;
}

.proyectsCards {
  box-sizing: border-box;
  height: 363px;
  width: 380px;/*aqui*/
  padding: 15px;
  display: flex;
  row-gap: 10px;
  --background-color: aqua;
  flex-direction: column;
  align-items: center;
}

.proyectsCards img{
  height: 195px;
  width: 380px;
  border-radius: 10px;
  border:none;
}

@media(width<=320px){
  .proyectsCards{
    width: 100%;
  }

  .proyectsCards img{
    width: 262px;
  }

}

.herramientasUso{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  flex-wrap: nowrap;
  align-items: center;
}

.animationscrollproyect{
  overflow-x: clip;
   animation-name: proyects;
   animation-timing-function: linear;
   animation-fill-mode: both;
   animation-timeline: view();
  --animation-range:0px 396px;
   animation-range:10% 35%;
}

@keyframes proyects{
  from{
    overflow-x: clip;
    opacity: 0;
    transform: translateX(170px);
  }
  to{
      overflow-x: clip;

    opacity: 1;
    transform: translateX(0px);
  }
}

